@import "tailwindcss";
@source "../../../apps*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

:root {
  --background: oklch(95.66% 0.005 67.76);
  --foreground: oklch(0% 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205% 0 0);
  --primary-foreground: oklch(95.66% 0.005 67.76);

  --muted: oklch(91.58% 0 0);
  --muted-foreground: oklch(0% 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --accent: oklch(69.31% 0.001 286.36);

  --border: oklch(55.55% 0 0);
  --input: oklch(55.55% 0 0);
  --ring: oklch(55.55% 0 0);

  --radius: 0rem;
}

@theme inline {
  --font-galaxie-copernicus: var(--font-galaxie-copernicus);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-accent: var(--accent);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-full: 0;
  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;
}

@layer base {
  * {
    @apply outline-ring/50 border-border;
  }

  html {
    @apply not-pointer-coarse:no-scrollbar scroll-smooth;
  }

  body {
    @apply font-galaxie-copernicus bg-background text-foreground selection:bg-foreground selection:text-background;
  }

  img,
  svg {
    @apply rounded-full select-none block w-full h-auto object-cover max-w-full;
  }

  .link-effect::after {
    @apply absolute bottom-1.5 left-0 h-px w-full origin-right scale-x-0 bg-current transition-transform duration-300 ease-in-out content-[''];
  }
}

@utility container {
  --max-w: 1436px;
  @apply !max-w-[var(--max-w)];
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility will-change-animate {
  will-change: transform, opacity;
}
